.menu-items > * {
  margin-top: 30px;
}
.side-btn:focus {
  outline: none;
}

.side-btn.active::before {
  top: -30px;
}
.side-btn.active::after {
  bottom: -30px;
}
.side-btn.active::before,
.side-btn.active::after {
  position: absolute;
  content: '';
  right: 0;
  height: 30px;
  width: 30px;
  background-color: white;
}
.side-btn.active .link-container::before {
  top: -60px;
}
.side-btn.active .link-container::after {
  bottom: -60px;
  z-index: 99;
}
.side-btn.active .link-container::before,
.side-btn.active .link-container::after {
  position: absolute;
  content: '';
  right: 0px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #0a2463;
}
